{% extends "app/layout.html" %}

{% block content %}

<form method="POST" action="/process_change_password">
                {% csrf_token %}
                
                <div><label>Current Password</label></div>
            <input type="text" name="current_password" />
             <div><label>New Password</label></div>
            <input type="text" name="new_password" />
            <div><label>Confirm New Password</label></div>
            <input type="text" name="confirm_new_password" />
            
             <button class="btn btn-outline-success" type="submit">Save</button>
             </form>

{% endblock %}